<%-include('./include/head')%>
 
  </head>

  <body>
   <%-include('./include/navbarnew')%> 
    <main class="error">
      <h1>Some Error have occured!</h1>
      <p>we are working to fix it! sorry for inconvenience</p>
    </main>
<%-include('./include/end')%>
