main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:100%; 
  /* margin-top: 4rem; */
}

.product-container {
  margin: 6rem 2rem 0rem 2rem;
  height: 380px;
  width: 25%;
  background-color: rgb(223, 235, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 5px 3px #888888;
}
.main-product {
  margin: 0rem auto;
}
.product-content {
  margin-top: 1.4rem;
  text-align: center;
}
.product-content p {
  padding: 0 1.5rem;
}
.center {
  text-align: center;
}
.img-size {
  width: 220px;
  margin-top: 2rem;
}
.edit-delete-button {
  display: flex;
}
.edit-cart {
  background-color: rgb(232, 240, 241);
  border-style: none;
  border: 0.1rem solid rgba(10, 153, 34, 0.836);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
.delete {
  margin-left: 1rem;
}
.add-cart {
  background-color: rgb(232, 240, 241);
  border-style: none;
  border: 0.1rem solid rgba(10, 153, 34, 0.836);
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
.remove-cart{
  background-color: rgb(232, 240, 241);
  border-style: none;
  border: 0.1rem solid rgb(201, 90, 90);
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
.add-cart:hover,
.edit-cart:hover {
  background-color: rgba(10, 153, 34, 0.836);
}
.remove-cart:hover{
  background-color:rgb(201, 90, 90); 
}
.action-control {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.action-control .add-cart {
  margin-left: 1rem;
}
/* Add Pagination */
.pagination-container {
  text-align: center;
  margin: 1rem 0rem;
}

.link {
  background-color: white;
  border: 1px solid rgba(10, 153, 34, 0.836);
  padding: 0.1rem 0.2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.pagination-container a:hover {
  background-color: rgba(10, 153, 34, 0.836);
  color: white;
}

.no-items {
  position: relative;
  top: 90px;
  text-align: center;
}
/* Media Queries Tag*/

@media screen and (max-width: 900px) {
  
  .img-size {
    width:80%;
    margin:2rem 1rem 0rem 1rem;
  }

}
@media screen and (max-width: 770px){
  .product-container{
    width:35%;
  }


}

@media screen and (max-width: 600px){
  .product-container{
    width:40%;
  }
 .product-heading{
    font-size:20px;
 }  

}

@media screen and (max-width: 500px){
  .product-container{
    width:65%;
  }


}

@media screen and (max-width: 400px){
  .product-container{
    width:80%;
    height:350px;
  }


}
