@import url("https://fonts.googleapis.com/css2?family=Signika&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
}
.header {
  /* margin-top: -1rem; */

  width: 100%;
  background-color: rgba(10, 153, 34, 0.836);
}
/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 65px;
}

ul {
  list-style: none;
  display: flex;

  height: 60px;
}
li:nth-child(n) {
  font-size: 1.2rem;
  margin-right: 2rem;
}
li:nth-child(n + 1) {
  font-size: 1.2rem;
  margin-left: 2rem;
}
.nav-option {
  text-decoration: none;
  color: white;
}

.submitbutton {
  color: whitesmoke;

  background-color: rgba(10, 153, 34, 0.836);
  border-radius: 1rem;
  border: 0.1rem solid white;
  padding: 0.4rem 0.9rem;
  border-style: solid;
  font-weight: bold;
}
.submitbutton:hover {
  background-color: whitesmoke;
  color: rgba(10, 153, 34, 0.836);
}
a:active,
a.active {
  color: yellow;
}
